// Colores
$dark-blue: #0B3138;
$light-blue-green: #205058;
$off-white: #e9ecef;
$light-gray-text: rgba(219, 211, 211, 0.945);
$dark-blue-link: rgb(1, 13, 121);
$light-gray-bg: #e0e0e0;
$white: #fff;
$gray-border: #ccc;
$shadow-color: rgba(0, 0, 0, 0.1);
$dark-gray-text: #666;
$black: black;

// Fuentes
$font-ibm-plex-serif: 'IBM Plex Serif', serif;
$font-roboto: 'Roboto', sans-serif;